<div class="container mx-auto flex justify-center gap-10 py-32 flex-wrap">
  <div
    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Register
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Register by providing email and password, to gain access to all features
      of
      <span class="font-bold">MP<span class="text-orange-300">Timer</span></span
      >. Requires to download application which will send data to server.
    </p>
    <ul class="list-disc pl-6 pb-6">
      <li>Track worked time</li>
      <li>Track desktop screen lock time</li>
      <li>Track git branches for selected repositories</li>
      <li>Share your work time with others</li>
    </ul>
    <a
      href="https://signup.mptimer.net"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-400 rounded-lg hover:bg-orange-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Sign up <i class="ri-arrow-right-s-line m-1"></i>
    </a>
  </div>
  <div
    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white flex items-center"
    >
      Try it
      <span
        class="ml-2 bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
        >offline</span
      >
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      No registration required. You can check most important features of
      <span class="font-bold">MP<span class="text-orange-300">Timer</span></span
      >. Requires to download application which will store data locally. No data
      will be send to server.
    </p>
    <ul class="list-disc pl-6 pb-6">
      <li>Track worked time</li>
      <li>Track desktop screen lock time</li>
      <li>Track git branches for selected repositories</li>
    </ul>
    <a
      href="https://offline.mptimer.net"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-400 rounded-lg hover:bg-orange-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Try it <i class="ri-arrow-right-s-line m-1"></i>
    </a>
  </div>
</div>
