<div class="bg-slate-200 text-slate-800">
  <div class="container mx-auto">
    <div class="py-32 px-4 flex justify-center gap-48 items-center flex-wrap">
      <div>
        <h1 class="text-5xl py-2 font-bold">Master Your Time</h1>
        <div class="text-2xl">
          Track your work time with
          <span class="font-bold">MPTimer</span>
        </div>
      </div>
      <div>
        <div class="flex gap-10 flex-wrap justify-center">
          <div
            class="bg-orange-400 w-48 rounded-md text-white p-2 justify-center text-2xl cursor-pointer flex items-center hover:shadow-lg"
          >
            Register
          </div>
          <div
            class="bg-orange-400 w-48 rounded-md text-white p-2 text-2xl cursor-pointer flex items-center flex-col gap-2 hover:shadow-lg"
          >
            Try it
            <span
              class="ml-2 bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
              >No&nbsp;registration</span
            >
          </div>
        </div>
        <div class="flex justify-center">
          ... or
          <span
            class="ml-1 cursor-pointer text-orange-400"
            [routerLink]="['start-using']"
            >compare plans</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
