<div class="bg-slate-200 text-slate-800">
  <div class="container mx-auto">
    <div class="py-32 px-4 flex justify-center gap-48 items-center flex-wrap">
      <div>
        <h1 class="text-5xl py-2 font-bold">Master Your Time</h1>
        <div class="text-2xl">
          Track your work time with
          <span class="font-bold"
            >MP<span class="text-orange-300">Timer</span></span
          >.
        </div>
      </div>
      <div>
        <div class="flex gap-10 flex-wrap justify-center">
          <div
            (click)="signUp()"
            class="bg-orange-400 w-48 rounded-md text-white p-2 justify-center text-2xl cursor-pointer flex items-center hover:shadow-lg"
          >
            Register
          </div>
          <a
            href="https://offline.mptimer.net"
            class="bg-orange-400 w-48 rounded-md text-white p-2 text-2xl cursor-pointer flex items-center flex-col gap-2 hover:shadow-lg"
          >
            Try it
            <span
              class="ml-2 bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
              >No&nbsp;registration</span
            >
          </a>
        </div>
        <div class="flex justify-center">
          ... or
          <span
            class="ml-1 cursor-pointer text-orange-400 hover:underline"
            [routerLink]="['start-using']"
            >compare plans</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-10 m-auto">
  <h2 class="text-2xl">See example</h2>
  <div class="my-2">
    MPTimer tracks your working time. It will when your screen will be locked,
    so you can see how much time your have worked already. It will also record
    your mouse/keyboard idle time.
  </div>
  <lib-time-line [sections]="EXAMPLE_SECTIONS"> </lib-time-line>
</div>
<div class="bg-slate-700 text-white shadow-md">
  <div class="container mx-auto py-10">
    <h2 class="text-2xl">How it is working</h2>
    <div class="my-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
    <div class="my-4">
      <img
        class="mx-auto"
        src="https://microservices.io/i/Microservice_Architecture.png"
        alt="How it is working"
      />
    </div>
    <div class="my-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
  </div>
</div>

<div class="container my-10 m-auto">
  <h2 class="text-2xl">See example</h2>
  <div class="my-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
