<div class="bg-slate-800 p-2 flex justify-between shadow-lg relative">
  <div class="container mx-auto flex justify-between flex-wrap">
    <div class="text-white text-2xl cursor-pointer px-2" [routerLink]="['']">
      MP<span class="text-orange-300">Timer</span>
    </div>
    <div class="flex items-center text-white gap-4">
      <a [href]="githubLink" target="_blank">
        <i class="ri-github-fill text-2xl"></i>
      </a>
      <a href="https://app.mptimer.net">
        <div
          class="hover:text-slate-800 hover:bg-slate-300 cursor-pointer px-2 py-1"
        >
          Log in <i class="ri-arrow-right-s-line m-1"></i>
        </div>
      </a>
      <div
        class="hover:text-slate-800 hover:bg-slate-300 cursor-pointer px-2 py-1"
        [routerLink]="['start-using']"
      >
        Start using <i class="ri-flag-line m-1"></i>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container my-10 m-auto">
  <h2 class="text-2xl">See example</h2>
  <div class="my-2">
    MPTimer tracks your working time. It will when your screen will be locked,
    so you can see how much time your have worked already. It will also record
    your mouse/keyboard idle time.
  </div>
  <lib-time-line [sections]="exampleSections"> </lib-time-line>
</div>
<div class="bg-slate-700 text-white shadow-md">
  <div class="container mx-auto py-10">
    <h2 class="text-2xl">How it is working</h2>
    <div class="my-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
    <div class="my-4">
      <img
        class="mx-auto"
        src="https://microservices.io/i/Microservice_Architecture.png"
        alt="How it is working"
      />
    </div>
    <div class="my-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
  </div>
</div>

<div class="container my-10 m-auto">
  <h2 class="text-2xl">See example</h2>
  <div class="my-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>

<div class="bg-slate-800 flex justify-center text-slate-200 p-2">
  MPTimer {{ year }} <span class="mx-4">•</span>
  <a [href]="githubLink" target="_blank">
    Give
    <span class="text-orange-300 mx-1">★</span> in
    <i class="ri-github-fill mx-1"></i>
  </a>
</div>
